{% extends "base.html" %}

{% block title %}Job Status - {{ message }}{% endblock %}

{% block content %}
<article>
  <div class="error-message">
    {% for message in messages %}
    
    {% if message.status == 'Fail'%}
          <div class="flashed-messages">
            <p class="flashed-message">
              {{message.status}}  
              {{message.args }} 
              {{message.task_id}}
            </p>
          </div>
          {% endif %}
          {% endfor %}
  </div>
</article>
{% endblock %}
