CouchDB>=0.8
Fabric>=1.2.0
arrow==0.3.5
Flask==0.9
Flask-Cache==0.12
Flask-CouchDB==0.2.1
Flask-Script==0.3.1
Flask-Uploads>=0.1.3
Flask-WTF==0.8
Jinja2==2.5.5
WTForms>=1.0.0
Werkzeug>=0.8
gunicorn==0.13.4
ordereddict==1.1
requests==0.13.0
grequests==0.1.0
simplejson==2.1.1
virtualenv==1.6.1
redis
gevent
raven>=1.4.6
blinker
newrelic
restkit>=4.0.0
Flask-CouchDBKit==0.3.5
couchdbkit==0.6.1
hoover
dict2xml==1.0
indextank==1.0.6
itsdangerous
